# NextAuth Configuration
# URL domain development lokal Anda
NEXTAUTH_URL=http://localhost:3000

# String acak panjang bebas sebagai kunci enkripsi cookie sesi
NEXTAUTH_SECRET=pilih_string_kunci_apa_saja_yang_sangat_panjang_dan_aman

# Google OAuth API Keys (Dapatkan dari Google Developer Console)
# Link Panduan: https://next-auth.js.org/providers/google
GOOGLE_CLIENT_ID=masukkan_google_client_id_anda_di_sini
GOOGLE_CLIENT_SECRET=masukkan_google_client_secret_anda_di_sini

# Set true untuk mensimulasikan login secara instan tanpa perlu Google Client ID di lokal dev
NEXT_PUBLIC_MOCK_AUTH=true

# Ollama / OpenAI-compatible API Key (untuk generate PRD)
OLLAMA_API_KEY=masukkan_api_key_anda_di_sini
# Base URL default: https://ollama.com/v1 (bisa diubah jika pakai server sendiri)
OLLAMA_BASE_URL=https://ollama.com/v1
